.component-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2rem;
    max-width: 90rem;
    margin: 0 auto;
}

.tasks {
    padding: 2rem;
}

.taskpanel {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 8rem 1fr 12rem 11rem;
    background-color: var(--ax-bg-default);
    border-radius: var(--ax-radius-8);
    overflow: hidden;

    &__status {
        grid-area: 1 e("/") 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--ax-text-neutral-contrast);

        &.FERDIG {
            background-color: @ax-success-500;
        }

        &.FEILET {
            background-color: @ax-danger-500;
        }

        &.MANUELL_OPPFØLGING {
            background-color: @ax-warning-500;
        }
    }

    &__rekjør {
        grid-area: 2 e("/") 1;
        align-self: end;
        justify-self: center;
        margin: 0 0 1rem;
    }

    &__innhold {
        grid-area: 1 e("/") 2 e("/") 3 e("/") 2;
        padding: 1.25rem 1.5rem;
        border-left: 1px solid var(--ax-border-neutral-subtle);
        width: 100%;

        &--elementer {
            column-count: 2;
            width: 100%;

            @media (max-width: 1200px) {
                column-count: 1;
            }
        }
    }

    &__lenker {
        grid-area: 1 e("/") 3;
        border-left: 1px solid var(--ax-border-neutral-subtle);
        padding: 1.25rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &__metadata {
        grid-area: 1 e("/") 4;
        border-left: 1px solid var(--ax-border-neutral-subtle);
        padding: 1.25rem 1.5rem 0.5rem;
    }

    &__vislogg {
        grid-area: 2 e("/") 4;
        padding: 0 1.5rem 1.25rem;
    }

    &__gruppert {
        display: flex;
        flex-flow: column;
        gap: 0.5rem;
    }

    &__logg {
        border-top: 1px solid var(--ax-border-neutral-subtle);
        grid-area: 3 e("/") 5 e("/") 3 e("/") 1;
        height: auto;
        padding: 1.25rem 1.5rem;

        &--item {
            display: grid;
            grid-template-columns: 15rem 1fr;
            word-break: break-all;
            word-wrap: break-word;
            white-space: pre-wrap;

            &-metadata {
                border-right: 1px solid var(--ax-border-neutral-subtle);
                padding: 0 1.5rem 1.5rem 0;
            }

            & pre {
                margin-left: 1rem;
            }

            &-melding {
                word-break: break-all;
                word-wrap: break-word;
                white-space: pre-wrap;
                font: inherit;
                margin: 0;
            }
        }

        &.skjul {
            height: 0;
            display: none;
        }
    }
}

.taskelement {
    display: flex;
    margin-bottom: 0.25rem;

    &--innhold {
        word-break: break-word;
    }
}

.flex-rad {
    display: flex;
    gap: 1rem;
}
