.gruppert-tasks {
    & .typo-systemtittel {
        padding: 1rem 0 0 1rem;
    }

    &__container {
        border-top: 2px solid black;
        display: flex;
        height: calc(100vh - 10.5rem);

        &--venstremeny {
            min-width: 10rem;
            border-right: 2px solid @navds-global-color-gray-400;
            overflow: auto;

            .venstremeny {
                display: flex;
                flex: 1;
                flex-direction: column;
                background: white;
                padding: 1rem 0;
                height: 100%;
                max-width: 20rem;
                min-width: 10rem;
                border-right: 2px solid @navds-global-color-gray-400;
                
                .FEILET {
                    border-left: .5rem solid @navds-global-color-red-400;
                }
    
                .OK {
                    border-left: .5rem solid @navds-global-color-green-400;
                }
    
                &__link {
                    text-decoration: none;
                    padding: 0.5rem 3rem 0.5rem 2rem;
                    color: @navds-global-color-gray-800;
            
                    &:hover {
                        background: @navds-global-color-gray-200;
                    }
            
                    &.active-task {
                        background: @navds-global-color-gray-400;
                    }
                    
                    &:focus {
                        box-shadow: 0 0 0 3px @navds-global-color-blue-800;
                        outline: none;
                    }
                    
                    &:focus {
                        z-index: 1000;
                    }
                }
            }
        }

        &--main {
            flex: 1;
            overflow: auto;
            padding: 1rem;
        }
    }
}