.gruppert-tasks {
    &__container {
        border-top: 2px solid black;
        display: flex;
        height: calc(100vh - 10.5rem);

        &--venstremeny {
            min-width: 10rem;
            border-right: 2px solid @ax-neutral-500;
            overflow: auto;

            .venstremeny {
                display: flex;
                flex: 1;
                flex-direction: column;
                background: white;
                padding: 1rem 0;
                height: 100%;
                max-width: 20rem;
                min-width: 10rem;
                border-right: 2px solid @ax-neutral-500;
                
                .FEILET {
                    border-left: .5rem solid @ax-danger-500;
                }
    
                .OK {
                    border-left: .5rem solid @ax-success-500;
                }
    
                &__link {
                    text-decoration: none;
                    padding: 0.5rem 3rem 0.5rem 2rem;
                    color: @ax-neutral-900;
            
                    &:hover {
                        background: @ax-neutral-300;
                    }
            
                    &.active-task {
                        background: @ax-neutral-500;
                    }
                    
                    &:focus {
                        box-shadow: 0 0 0 3px @ax-accent-900;
                        outline: none;
                    }
                    
                    &:focus {
                        z-index: 1000;
                    }
                }
            }
        }

        &--main {
            flex: 1;
            overflow: auto;
            padding: 1rem;
        }
    }
}