.service-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.service-gruppe:not(:last-child) {
    border-right: 1px solid @a-gray-400;

}
.service-gruppe-header {
    text-align: center;
    margin: 0 1rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
    flex-direction: column;

    &__service:not(:last-child) {
        border-bottom: 1px solid @a-gray-400;
    }
    &__service {
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;

        &--actions {
            display: flex;
            justify-content: center;
            column-gap: 0.5rem;
        }
    }
}