name: Build, push and deploy app to dev
on: [pull_request, workflow_dispatch]

jobs:
  build:
    name: Build and push Docker container
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: yarn
          registry-url: "https://npm.pkg.github.com"
      - name: Yarn install
        run: yarn --prefer-offline --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Yarn build
        run: yarn build
      - name: Build and publish Docker image to GAR
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: teamfamilie
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
  deploy-familie:
    name: Deploy to dev - familie
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: build_n_deploy/naiserator/gcp-dev.yaml
          VAR: image=${{ needs.build.outputs.image }}

  deploy-dagpenger:
    name: Deploy to dev - dagpenger
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: build_n_deploy/naiserator/gcp-dev-dagpenger.yaml
          VAR: image=${{ needs.build.outputs.image }}

  deploy-tilleggsstonader:
    name: Deploy to dev - tilleggsstonader
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: build_n_deploy/naiserator/gcp-dev-tilleggsstonader.yaml
          VAR: image=${{ needs.build.outputs.image }}
